<!DOCTYPE html>
<html>
    <head>
        <title>Penny.com</title>
    </head>
    <table>
        <tbody>
            <h1>Restaurant Search Results</h1>
            
            {% if restaurantinfo | length == 0: %}
            {% else %}
                {% for restaurant in restaurantinfo: %}
                    <tr>
                        <td>{{restaurant.get_name()}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</html>           