{% extends "base.html" %}
{% block title %} About | Trenton Local Eats {% endblock %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-sm-6">
        <h1>Welcome to Trenton Local Eats!</h1>
        <p>Image will go here Taco Bell</p>
    </div>
    <div class="col-sm-6">
        <p>Description to be added; under construction 
            Cupidatat minim enim nisi Lorem incididunt. 
            Do eiusmod reprehenderit ad sint adipisicing 
            exercitation reprehenderit. Labore eu ex do 
            magna ad excepteur aliqua irure do quis 
            consectetur labore. Esse Lorem tempor ad 
            nulla velit. Adipisicing mollit amet ullamco 
            elit. Ea qui non duis cupidatat incididunt 
            dolor. Deserunt elit minim adipisicing 
            officia velit do sit in cupidatat pariatur 
            id ea ad amet.
        </p>
    </div>
</div>
</div>
{% include 'footer.html' %}
{% endblock %}    
