{% extends "base.html" %}
{% block title %} I Am A Restaurant | Trenton Local Eats {% endblock %}
{% block content %}
<!-- Slider Information -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" />


<br>
<div class="container-fluid col-md-8 pb-5 px-5 mx-auto">
<center><h2 class="restOfHeader">Do you own a restuarant?</h2></center>
<center><h2 class="addItHere"><span>Add it here!</span></h2></center>

<form action="addrestaurant" method="get">
  <div class="form-group row">
    <label for="restaurantName">Name:</label>
    <input type="text" class="form-control" name="restaurantName" placeholder="Restaurant Name" value="">
  </div>
  <div class="form-group row">
    <label for="restaurantAddress">Address:</label>
    <input type="text" class="form-control" name="restaurantAddress" placeholder="Address" value="">
  </div>

  <!-- Hours -->
  <div class="form-group row">
    <label for="restaurantHours">Hours:</label> <br>
    <div id="checkboxes">
      <input type="checkbox"> Monday <br>
      From: <input type="text"> To: <input type="text"> <br>

      <!-- Slider Test (Monday) -->
      <!-- <div id="time-range">
        <p>Time Range: <span class="slider-time">04:30</span> - <span class="slider-time">45:30</span></p>
        <div class="sliders_step1">
          <div id="slider-range"></div>
        </div>
      </div> -->
      
      <input type="checkbox"> Tuesday <br>
      From: <input type="text"> To: <input type="text"> <br>
      <!-- Slider Test (Monday) -->
      <!-- <div id="time-range">
        <p>Time Range: <span class="slider-time">04:30</span> - <span class="slider-time">45:30</span></p>
        <div class="sliders_step1">
          <div id="slider-range"></div>
        </div>
      </div> -->
      <input type="checkbox"> Wednesday <br>
      From: <input type="text"> To: <input type="text"> <br>
      <input type="checkbox"> Thursday <br>
      From: <input type="text"> To: <input type="text"> <br>
      <input type="checkbox"> Friday <br>
      From: <input type="text"> To: <input type="text"> <br>
      <input type="checkbox"> Saturday <br>
      From: <input type="text"> To: <input type="text"> <br>
      <input type="checkbox"> Sunday <br>
      From: <input type="text"> To: <input type="text"> <br>
      
    </div>


    
    <input type="text" class="form-control" name="restaurantHours" placeholder="Opening Hours" value="">
  </div>
  <div class="form-group row">
    <label for="restaurantMenu">Menu:</label>
    <input type="text" class="form-control" name="restaurantMenu" placeholder="Menu" value="">
  </div>
  <div class="form-group row">
    <label for="restaurantMedia">Media:</label>
    <input type="text" class="form-control" name="restaurantMedia" placeholder="Media" value="">
  </div>
  <div class="form-group row">
    <label for="restaurantTags">Tags:</label>
    <input type="text" class="form-control" name="restaurantTags" placeholder="Tags" value="">
  </div>
  <div class="form-group row">
    <strong>Categories/Tags</strong>
    <input type="checkbox" class="form-control" id = "fastfood" name="type" placeholder="" value="Fast Food">
    <label for="fastfood"> Fast Food </label><br>
    <input type="checkbox" class="form-control" id="casualdining" name="type" placeholder="" value="Casual Dining">
    <label for="casualdining"> Casual Dining </label><br>
    <input type="checkbox" class="form-control" id="finedining" name="type" placeholder="" value="Fine Dining">
    <label for="finedining"> Fine Dining </label><br>
  </div>
  <div class="form-group row">
    <input type="checkbox" class="form-control" id="" name="cuisine" value="indian">
    <label for="indian"> Indian </label><br>
    <input type="checkbox" class="form-control" id="american" name="cuisine" value="american">
    <label for="american"> American </label><br>
    <input type="checkbox" class="form-control" id="french" name="cuisine" value="french">
    <label for="french"> French </label><br />
    <input type="checkbox" class="form-control" id="other" name="getcuisine" value="other" onchange="document.getElementById('otherCuisine').disabled = !this.checked;" >
    <label for="other"> Other </label> <input type="text" id = "otherCuisine" name="cuisine" value=""><br><br>
  </div>
  <div class="form-group row">
    <input type="range" class="form-control" id="price" name="price" min="0" max="100">
    <label for="price"> Average Cost of Restaurant Meal (between 0 and 100)</label>
  </div>
  <div class="form-group row">
    <label for="image">Image:</label>
    <button type="button" id="upload_widget" name="image" class="cloudinary-button">Upload files</button>
  </div>
  <div class="form-group row">
    <label for="imageurl">Image Url (Cannot Edit)</label>
    <input type="text" id="image_url" name="restaurantImage" value="" readonly>
  </div>

  <button type="submit" class="submit">Submit</button>
</form>




<!-- <div class="form-group row">
  <label for="images">Images:</label>

</div>  -->

</div>

<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<script>
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'duknapu84',
  uploadPreset: 'geozzbbn'}, (error, result) => {
    if (!error && result && result.event === "success") {
      document.getElementById('image_url').value=result.info.secure_url;
      console.log('Done! Here is the image info: ', result.info);
    }
  }
)
$("#slider-range").slider({
  range: true,
  min: 0,
  max: 1440,
  step: 15,
  values: [270, 2730],
  slide: function(e, ui) {
    $('.slider-time').each(function(i) {
      var hours = ("00" + Math.floor(ui.values[i] / 60)).slice(-2);
      var mins = ("00" + (ui.values[i] - (hours * 60))).slice(-2);
      $(this).html(hours + ':' + mins);
    });
  }
});

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);



</script>

{% include 'footer.html' %}
{% endblock %}
