{% extends "base.html" %}
{% block title %} I Am A Restaurant | Trenton Local Eats {% endblock %}
{% block content %}
<br>
<h2> Add your Restaurant Information</h2>
<form action="addrestaurant" method="get">
  <table>
    <tr>
      <td style="text-align: right">
        <label for="restaurantName">Name:</label>
      </td>
      <td>
        <input type="text" name="restaurantName" value="">
      </td>
    </tr>
    <tr>
      <td  style="text-align: right">
        <label for="restaurantAddress">Address:</label>
      </td>
      <td>
        <input type="text" name="restaurantAddress" value="">
      </td>
    </tr>
    <tr>
      <td  style="text-align: right">
        <label for="restaurantHours">Hours:</label>
      </td>
      <td>
        <input type="text" name="restaurantHours" value="">
      </td>
    </tr>
    <tr>
      <td  style="text-align: right">
        <label for="restaurantMenu">Menu:</label>
      </td>
      <td>
        <input type="text" name="restaurantMenu" value="">
      </td>
    </tr>
    <tr>
      <td  style="text-align: right">
        <label for="restaurantMedia">Media:</label>
      </td>
      <td>
        <input type="text" name="restaurantMedia" value="">
      </td>
    </tr>
    <br /><br />
    <tr>
      <td></td>
      <td> <strong>Categories/Tags</strong></td>
    </tr>
    <tr>
      <td  style="text-align: left">
        <label for="diningTags">Dining:</label>
      </td>
      <td>
        <!-- <input type="text" name="restaurantTags" value=""> -->
        <input type="checkbox" id="fastfood" name="type" value="fastfood">
        <label for="fastfood"> Fast Food </label><br>
        <input type="checkbox" id="casualdining" name="type" value="casualdining">
        <label for="casualdining"> Casual Dining </label><br>
        <input type="checkbox" id="finedining" name="type" value="finedining">
        <label for="finedining"> Fine Dining</label><br><br>
      </td>
    </tr>
    <tr>
      <td  style="text-align: left">
        <label for="cuisineTags">Cuisine:</label>
      </td>
      <td>
        <input type="checkbox" id="" name="cuisine" value="indian">
        <label for="indian"> Indian </label><br>
        <input type="checkbox" id="american" name="cuisine" value="american">
        <label for="american"> American </label><br>
        <input type="checkbox" id="french" name="cuisine" value="french">
        <label for="french"> French </label><br />
        <input type="checkbox" id="other" name="getcuisine" value="other" onchange="document.getElementById('otherCuisine').disabled = !this.checked;" >
        <label for="other"> Other </label> <input type="text" id = "otherCuisine" name="cuisine" value=""><br><br>
      </td>
    </tr>
    <tr>
      <td  style="text-align: left">
        <label for="priceTags">Pricing:</label>
      </td>
      <td>
        <input type="range" id="price" name="price" min="0" max="100">
        <label for="price"> Average Cost of Restaurant Meal (between 0 and 100)</label>
      </td>
    </tr>


    <tr>
      <td></td>
      <td><button type="submit">Add Restaurant</button></td>
    </tr>

  </table>
</form>
{% include 'footer.html' %}
{% endblock %}
