
{% extends "base.html" %}
{% block title %} Best Restaurants in Trenton | Trenton Local Eats {% endblock %}
{% block content %}
<table>
    <script>
      var index = 0;
    </script>
      <tbody>
          <h1 class="results"> Restaurant Search Results</h1>
          {% if restaurantinfo | length == 0: %}
          {% else %}
              {% for restaurant in restaurantinfo: %}
                <p>{{restaurant}}</p>
              {% endfor %}
              
          {% endif %}
          

      </tbody>
  </table>








<!--Remove spaces in address so it is compatible with google maps-->
<script>
    "use strict";



</script>


<!--Javascript code to remove link if there is no media/menu-->
<script type="text/javascript">

 

</script>

<script type="text/javascript">

  

</script>

<!--Javascript code to add restaurant image to details page -->
<script type="text/javascript">


</script>

<!--Function to get whether restaurant is open or closed-->
<script>
</script>

<script>

</script>


{% include 'footer.html' %}
{% endblock %}
