<!DOCTYPE html>
<html>
{% extends "base.html" %}

<body>
  {% block title %} Best Restaurants in Trenton | Trenton local eats {% endblock %}
  {% block content %}
  <!--title-->
  <br>
  <br>
   <h1 style="text-align:center">Restaurant Approval Requests</h1>
  <!--<h2 class="restOfHeader fade-in-text2">food, <span class=“trenton”>Trenton</span> style.</h2>-->
  <!--<div class="position-relative fade-in-text2 container-fluid">
    <div class="circle1 rounded-circle position-absolute"></div>
    <div class="circle2 rounded-circle position-absolute"></div>-->
    <!--<img src="" alt="Food">-->
    <!--<div class="circle3 rounded-circle position-absolute"></div>
    <div class="circle4 rounded-circle position-absolute"></div>
    <hr class="line1" style="width:18%">
    <hr class="line2" style="width:15%">
    <hr class="line3" style="width:12%">
  </div>-->
  <br>
  <br>
  <div class="row pt-0 px-3 justify-content-center">
    <input class="rest_search" type="text" id="restaurantInput" placeholder="Enter a restaurant name here to search for a request">
  </div>
  <br>
  <strong>{{error_msg}}</strong>
  <br>
  <!--add design elements (circle, lines)-->
  <div id="turq_circle">
    <p></p>
  </div>

  <!-- <div class = "adv_search_dropdown">
        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#advsearchId" type="checkbox">
            Try advanced search filters
        </a>
    </div>
    <br>

    <div class="advanced_search_options" id="advsearchId" class="collapse">
       <div class="dropdown">
           cuisine dropdown
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose a Cuisine
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Any</a>
                <a class="dropdown-item" href="#">American</a>
                <a class="dropdown-item" href="#">French</a>
                <a class="dropdown-item" href="#">Indian</a>
                <a class="dropdown-item" href="#">Other</a>
            </div>
        </div>
        <br>
        price range-->
  <!--<span>Choose a Maximum Price: </span>
        <input type="range" value="50" min="1" max="200" oninput="this.nextElementSibling.value = this.value" id="price_input" <span>&#36;</span>
        <output>50</output>

        <form class="multi-range-field my-5 pb-5">
            <input id="multi20" class="multi-range" type="range" />
          </form>


       address
        <form>
            <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" id="location_input" placeholder="Enter an address (or zipcode?) here">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="within5">
                    <label class="form-check-label" for="within5">Less than 5 milees</label>
                </div>
            </div>
        </form> -->
  </div>

  <!-- CDNs for font-awesome, bootstrap, JQuery -->
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <!--{% include 'searchresults.html' %} -->
  <div class="row">
    <div class="col-12 grayborder" id="restaurantsDiv">
    </div>
  </div>
  {% include 'footer.html' %}
  <br>
  <br>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
  </script>

  <!-- CDNs for font-awesome, bootstrap, JQuery
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->


  <script>
    'use strict';

    function handleResponse(response) {
      console.log(response)
      $('#restaurantsDiv').html(response);
    }

    let request = null;

    function getResults() {
      console.log("Getting results");

      let restaurantInput = $('#restaurantInput').val();

      restaurantInput = encodeURIComponent(restaurantInput);

      let url = '/requestresults?restaurant=' + restaurantInput

      console.log(url);
      if (request != null)
        request.abort();

      request = $.ajax(
        {
          type: 'GET',
          url: url,
          success: handleResponse
        }
      );
    }
    function setup() {
      getResults();
      console.log("Changed the input buttons");
      $("#restaurantInput").on("input", getResults);
    }
    $('document').ready(setup);
  </script>
  {% endblock %}
</body>

</html>
