{% extends "base.html" %}
{% block title %} Best Restaurants in Trenton | Trenton Local Eats {% endblock %}
{% block content %}
<div class="container-fluid pt-5 pb-5 bg-info">
    <div class="row">
        <div class="col-sm-6">
            <!-- <img src= {{info['open_closed']}} class="img-thumbnail"> -->
            <!-- <img src="{{info['image']}}" class="img-thumbnail"> -->
            <img id="temp" src="https://thumbor.thedailymeal.com/8luyHYVfcVm8WSPXT-FVz9Ub_kU=/870x565/filters:format(webp)/https://www.thedailymeal.com/sites/default/files/slides/1-tacobell-wiki-sphilbrick.JPG" class="img-thumbnail">
        </div>
        <div class="col-sm-6">
            <div class="container-fluid bg-light">
            <h2 class="restOfHeader">{{info['name']}}</h2>
            </div>
            <h3 class="resDetails">Location & Hours</h3>
            <div class="row">
                <div class="col-md-6">
                    <!--Google map-->
                    <iframe id="resMap"
                    width=100%
                    height=100%
                    frameborder="0" style="border:0"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDTtI041ge9u2teT2FtEXB32-CLTaeR7kU&q=11+W+Front+St,+Trenton,+NJ+08608"
                    allowfullscreen>
                    </iframe>
                </div>
                <div class="col-md-6">
                    <h4 class="resDetails"><strong id="OpenClose"></strong></h4>
                    <h4 class="resDetails" id="MondayHours"></h4>
                    <h4 class="resDetails" id="TuesdayHours"></h4>
                    <h4 class="resDetails" id="WednesdayHours"></h4>
                    <h4 class="resDetails" id="ThursdayHours"></h4>
                    <h4 class="resDetails" id="FridayHours"></h4>
                    <h4 class="resDetails" id="SaturdayHours"></h4>
                    <h4 class="resDetails" id="SundayHours"></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-5 pb-5 bg-info">
    <h2 class="restOfHeader">Details</h2>
    <h4 class="resDetails"><strong>Media: </strong><a href="{{info['media']}}" target="__blank__">{{info['media']}}</a></h4>
    <h4 class="resDetails"><strong>Review Count: </strong> {{info['review_count']}}</h4>
    <h4 class="resDetails"><strong>Stars: </strong> {{info['stars']}}</h4>
    <h4 class="resDetails"><strong>Menu: </strong><a href="{{info['menu']}}" target="__blank__">{{info['menu']}}</a></h4>
</div>


<!--Remove spaces in address so it is compatible with google maps-->
<script>
    "use strict";

    let address = "{{ info['address'] }}";
    let mapAddress = address.replace(/ /g, '+');
    console.log(mapAddress);

    let srcStr = "https://www.google.com/maps/embed/v1/place?key=AIzaSyDTtI041ge9u2teT2FtEXB32-CLTaeR7kU&q=" + mapAddress;

    if("{{ info['address'] }}" != "None") {
        document.getElementById('resMap').src = srcStr;
    }



</script>

  
<!--Google Maps-->

<!--Javascript code to add restaurant image to details page -->
<script type="text/javascript"> 

    function myFunction(){
        if("{{info['image']}}" != "None") {
            document.getElementById('temp').src = "{{info['image']}}";
        }
        
    }
    myFunction();

</script>

<!--Function to get whether restaurant is open or closed-->
<script>
    'use strict';


    function statusFunc() {
      let status = "{{ info['open_closed'] }}";
      let node = document.getElementById("OpenClose");
      if (status == "True"){
        node.innerHTML = "Open now";
      }
      else {
        node.innerHTML = "Closed now";
      }
    }

    statusFunc();
</script>

<script>
    'use strict';
    let resData = "{{ info }}";

    // Find index in split where hours are
    let hours = resData.split(/&#39|&#34/);
    let hoursIndex = 0;
    for (let i = 0; i < hours.length; i++){
        if (hours[i].includes('AM') & hours[i].includes('day')) {
            hoursIndex = i;
        }
    }
    hours = hours[hoursIndex].split(";")[1];
    hours = hours.split(",");
    let hourNode = document.getElementById("MondayHours");
    hourNode.innerHTML = hours[0];
    if (typeof hours[1] != 'undefined'){
        hourNode = document.getElementById("TuesdayHours");
        hourNode.innerHTML = hours[1];
    }
    if (typeof hours[2] != 'undefined'){
        hourNode = document.getElementById("WednesdayHours");
        hourNode.innerHTML = hours[2];
    }
    if (typeof hours[3] != 'undefined'){
        hourNode = document.getElementById("ThursdayHours");
        hourNode.innerHTML = hours[3];
    }
    if (typeof hours[4] != 'undefined'){
        hourNode = document.getElementById("FridayHours");
        hourNode.innerHTML = hours[4];
    }
    if (typeof hours[5] != 'undefined'){
        hourNode = document.getElementById("SaturdayHours");
        hourNode.innerHTML = hours[5];
    }
    if (typeof hours[6] != 'undefined'){
        hourNode = document.getElementById("SundayHours");
        hourNode.innerHTML = hours[6];
    }

</script>


{% include 'footer.html' %}
{% endblock %}
