{% extends "base.html" %}
{% block title %} Best Restaurants in Trenton | Trenton Local Eats {% endblock %}
{% block content %}
<div class="container-fluid pt-5 pb-5 bg-info">
  <div class="row">
    <div class="col-lg-6">
      <!-- <img src= {{info['open_closed']}} class="img-thumbnail"> -->
      <!-- <img src="{{info['image']}}" class="img-thumbnail"> -->
      <img id="temp"
        src="https://thumbor.thedailymeal.com/8luyHYVfcVm8WSPXT-FVz9Ub_kU=/870x565/filters:format(webp)/https://www.thedailymeal.com/sites/default/files/slides/1-tacobell-wiki-sphilbrick.JPG"
        class="img-thumbnail">
    </div>
    <div class="col-lg-6">
      <div class="container-fluid bg-light">
        <h2 class="restOfHeader">{{info['name']}}</h2>
      </div>
      <h3 class="resDetails">Location & Hours</h3>
      <div class="row">
        <div class="col-md-5" id="map">
        </div>
        <div class="col-md-7">
          <h4 class="resDetails"><strong id="OpenClose"></strong></h4>
          <h4 class="resDetails" id="MondayHours"></h4>
          <h4 class="resDetails" id="TuesdayHours"></h4>
          <h4 class="resDetails" id="WednesdayHours"></h4>
          <h4 class="resDetails" id="ThursdayHours"></h4>
          <h4 class="resDetails" id="FridayHours"></h4>
          <h4 class="resDetails" id="SaturdayHours"></h4>
          <h4 class="resDetails" id="SundayHours"></h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 pt-3">
          <h4 class="resDetails"><i class="bi bi-geo-alt-fill"></i>{{ info['address'] }}</h4>
        </div>
        <div class="col-lg-2 p-3">
          <a href="" target="__blank__" class="btn btn-light" id="directionsLink"><strong>Get Directions <i
                class="bi bi-box-arrow-up-right"></i></strong></a>
        </div>
        <div class="col-lg-7 p-3">
          <h4 class="resDetails"><strong>Cuisine: </strong> {{info['cuisine']}}</h4>
          <h4 class="resDetails"><strong>Price: </strong> {{info['price']}}</h4>
          <h4 class="resDetails"><strong>Type: </strong> {{info['type']}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Adding A Favorite [UNDER CONSTRUCTION]-->
  <div class="container" id="favoritebuttoncontainer"  style="text-align: center; padding-top: 20px;">
    <a href="added" id="favoritebutton" class="list-group-item list-group-item-action">Add Favorite Restaurant</a>
  </div>
  
</div>

{% block content2 %}
<div class="container" >
  <!-- This is the Post Method -->
  <!-- Adding a Review -->
  <div class="container" id="reviewTitle" style="text-align: center; padding-top: 20px;">
    <h1>{% block title2 %}Write a review for this restaurant!{% endblock %}</h1>
  </div>

  <form method="post" id="addreview">
    <div class="form-group">
      <label for="rating">Give a Rating: </label>
      <!-- <select id="rating" name="rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select> -->
      <br>
      <label class="rating-label">
        <input id = "rating" name = "rating" class="user_rating" max="5" oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
          step="0.5" style="--value:2.5" type="range" value="2.5">
      </label>
      <br>
      <label for="exampleFormControlTextarea1">Your review:</label>
      <!-- Add icon library -->

      <textarea class="form-control" rows="3" name="review-text">
      </textarea>
    </div>
    <button class="btn btn-primary" type="submit" style="margin-bottom: 10px;">Submit</button>

  </form>
</div>
{% endblock %}

<!-- Seeing the Reviews  -->
<!-- {% for review in reviews %}
  <blockquote class="blockquote">
    <p class="mb-0">{{ review[1] }}</p>
      <footer class="blockquote-footer"> -->
<!-- From @{{ review[0].split("@")[0] }} -->
<!-- From @{{ review[0] }}
      </footer>
  </blockquote>
{% endfor %} -->


<div class="container-fluid pt-5 pb-5 bg-info">
  <h2 class="restOfHeader"><u>Details</u></h2>
  <h4 class="resDetails"><strong>Review Count: </strong> {{info['review_count']}}</h4>
  <h4 class="resDetails"><strong>Stars: </strong>
    <div class="Stars_Deets" style="--rating: {{info['stars']}};"></div>
  </h4>
  <div class="row justify-content-center">
  <span class="px-2"><h4 class="resDetails" id="menuLink"><a href="{{info['menu']}}" class="btn btn-light btn-lg" target="__blank__"
      id="menuLink"><strong>Menu</strong> <i class="bi bi-box-arrow-up-right"></i></a></h4> </span>
    <span class="px-2"><h4 class="resDetails" id="mediaLink"><a href="{{info['media']}}" class="btn btn-light btn-lg"
    target="__blank__"><strong>Website</strong> <i class="bi bi-box-arrow-up-right"></i></a></h4> </span>
  </div>
  <!--create a reviews carousel-->
  <!--use reviews table for each restaurant and populate panel with each review (for loop with jinja scripts)-->
  <div id="demo" class="carousel slide" data-ride="carousel">
    <!-- Add indicators -->
    <ul class="carousel-indicators">
      {% for review in reviews %}
      {% if loop.index0 == 0 %}
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      {% else %}
      <li data-target="#demo" data-slide-to="{{loop.index0}}"></li>
      {% endif %}
      {% endfor %}
    </ul>

    <!-- The slideshow; this is what to fill in with reviews table -->
    <div class="reviews">
      <div class="carousel-inner col-md-7 mx-auto">
        {% for review in reviews %}
        {% if loop.index0 == 0 %}
        <div class="carousel-item active">
          <p>{{ review[1] }}</p>
          <br>
          <br>
          <h8 style="text-align: center;">From @{{ review[3] }}</h8> <br>
          <h8 style="text-align: center;"> @{{ review[0] }}</h8>
        </div>
        {% else %}
        <div class="carousel-item">
          <p>{{ review[1] }}</p>
          <br>
          <br>
          <h8 style="text-align: center;">From @{{ review[3] }}</h8> <br>
          <h8 style="text-align: center;"> @{{ review[0] }}</h8>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      {% if reviews|length > 0 %}
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
      {% endif %}

    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<!--Javascript code to remove link if there is no media/menu-->
<script type="text/javascript">

  function myFunction() {
    if ("{{info['media']}}" == "None" || "{{info['media']}}" == "") {
      document.getElementById('mediaLink').innerHTML = "";
    }

  }
  myFunction();

</script>

<script type="text/javascript">

  function myFunction() {
    if ("{{info['menu']}}" == "None" || "{{info['menu']}}" == "") {
      document.getElementById('menuLink').innerHTML = "";
    }

  }
  myFunction();

</script>

<!--Javascript code to add restaurant image to details page -->
<script type="text/javascript">

  function myFunction() {
    if ("{{info['image']}}" != "None") {
      document.getElementById('temp').src = "{{info['image']}}";
    }

  }
  myFunction();

</script>

<!--Function to get whether restaurant is open or closed-->

<script>
  'use strict';
  let resHours = "{{ info['hours'] }}";
  console.log(resHours);

  // Find index in split where hours are
  let hours = resHours.split(",");
  let hourNode = document.getElementById("MondayHours");
  hourNode.innerHTML = hours[0];
  if (typeof hours[1] != 'undefined') {
    hourNode = document.getElementById("TuesdayHours");
    hourNode.innerHTML = hours[1];
  }
  if (typeof hours[2] != 'undefined') {
    hourNode = document.getElementById("WednesdayHours");
    hourNode.innerHTML = hours[2];
  }
  if (typeof hours[3] != 'undefined') {
    hourNode = document.getElementById("ThursdayHours");
    hourNode.innerHTML = hours[3];
  }
  if (typeof hours[4] != 'undefined') {
    hourNode = document.getElementById("FridayHours");
    hourNode.innerHTML = hours[4];
  }
  if (typeof hours[5] != 'undefined') {
    hourNode = document.getElementById("SaturdayHours");
    hourNode.innerHTML = hours[5];
  }
  if (typeof hours[6] != 'undefined') {
    hourNode = document.getElementById("SundayHours");
    hourNode.innerHTML = hours[6];
  }

</script>

<!--Open/Close relating to time function-->
<script>
  const d = new Date();
  let day = d.getDay();
  index = day - 1;
  if (index == -1) {
    index = 6;
  }
  today_hours = hours[index];
  
  today_hours = today_hours.split(" ");
  console.log("today hours ", today_hours)

  var i = today_hours.length;

  // Check if restaurant is closed today

  if (today_hours[i - 1] == "Closed") {
    document.getElementById("OpenClose").innerHTML = "Closed now"
  }

  else {
    var openAmPm = today_hours[i - 4];
    var closeAmPm = today_hours[i - 1];

    var startTime; // = '15:10:10'
    var endTime; // = '22:30:00';
    var nextDay = false;


    // CONVERT HOURS TO 24H IF NEEDED
    // ADD SOME BOOLEAN TO CHECK FOR NEXT DAY
    if (openAmPm == "AM") {
      startTime = today_hours[i - 5] + ':00';

    }
    else {
      if (today_hours[i - 5].split(":")[0] == 12) {
        startTime = today_hours[i - 5] + ':00';
      }
      else {
        let time = today_hours[i-5].split(":");
        let hour = parseInt(time[0]) + 12;
        let minutes = time[1];
        startTime = hour + ":" + minutes + ":00";
      }
      
    }
    if (closeAmPm == "AM") {
      nextDay = true;
      endTime = today_hours[i-2] + ":00";
    }
    else {
      if (today_hours[i - 2].split(":")[0] == 12) {
        endTime = today_hours[i - 2] + ':00';
      }
      else {
        let time = today_hours[i-2].split(":");
        let hour = parseInt(time[0]) + 12;
        let minutes = time[1];
        endTime = hour + ":" + minutes + ":00";
      }
    }
  



    var currentDate = new Date();

    var startDate = new Date(currentDate.getTime());
    console.log("Start date before = ", startDate);
    // startDate.setDate(startDate.getDate() + 1)
    startDate.setHours(startTime.split(":")[0]);
    startDate.setMinutes(startTime.split(":")[1]);
    startDate.setSeconds(startTime.split(":")[2]);
    console.log("Start date after = ", startDate);

    var endDate = new Date(currentDate.getTime());
    // CHECK IF IT IS STILL OPEN FROM PREVIOUS DAY
    var prev_index = index - 1;
    if (prev_index == -1) {
      prev_index = 6;
    }

    var yest_hours = hours[prev_index];
  
    yest_hours = yest_hours.split(" ");
    console.log("Yest hours ", yest_hours)

    var j = yest_hours.length;
    var prevDay = false;
    var prevEndTime;

    if (yest_hours[i - 1] != "Closed") {
      // Check if current time is < yesterday end time
      var yest_closeAmPm = yest_hours[i - 1];
      if (yest_closeAmPm == "AM") {
        prevDay = true;
        prevEndTime = yest_hours[i-2] + ":00";
      }
    }




    if (nextDay) {
      endDate.setDate(endDate.getDate() + 1);
      endDate.setHours(endTime.split(":")[0]);
      endDate.setMinutes(endTime.split(":")[1]);
      endDate.setSeconds(endTime.split(":")[2]);
    }
    else {
      endDate.setHours(endTime.split(":")[0]);
      endDate.setMinutes(endTime.split(":")[1]);
      endDate.setSeconds(endTime.split(":")[2]);
    }


    if (startDate < currentDate && endDate > currentDate) {
      document.getElementById("OpenClose").innerHTML = "Open now";
    }
    else {
      document.getElementById("OpenClose").innerHTML = "Closed now";
    }

    if (prevDay) {
      var prevEndDate = new Date(currentDate.getTime());      
      prevEndDate.setHours(prevEndTime.split(":")[0]);
      prevEndDate.setMinutes(prevEndTime.split(":")[1]);
      prevEndDate.setSeconds(prevEndTime.split(":")[2]);

      if (currentDate < prevEndDate) {
        document.getElementById("OpenClose").innerHTML = "Open now";
      }

  }





    


}

</script>

<!--Google Maps API-->

<script>
  var geocoder;
  var map;
  address = "{{ info['address'] }}";

  function initMap() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: {lat: -34.397, lng: 150.644}
    });
    geocoder = new google.maps.Geocoder();

    codeAddress(geocoder, map);

  }

  function codeAddress(geocoder, map, bounds) {
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
</script>

<!--Function to make directions link for Google Maps-->
<script>
  let link = "https://www.google.com/maps/dir//" + "{{ info['address'] }}";
  document.getElementById("directionsLink").href = link;
</script>

<!-- switching the href of the addfavorite test -->
<script type="text/javascript">

  function favoriteButton(){
      if("{{favorite}}" == -1 ) {
        document.getElementById('favoritebutton').hidden = true;
        document.getElementById('favoritebuttoncontainer').hidden = true;
        document.getElementById('favoritebutton').innerHTML = "Not Logged In";
      }
      if("{{favorite}}" == 0 ) {
        document.getElementById('favoritebutton').hidden = false;
        document.getElementById('favoritebuttoncontainer').hidden = false;
        document.getElementById('favoritebutton').innerHTML = "Add Favorite";
      }
      if("{{favorite}}" == 1 ) {
        document.getElementById('favoritebutton').hidden = false;
        document.getElementById('favoritebuttoncontainer').hidden = false;
        document.getElementById('favoritebutton').innerHTML = "Remove Favorite";
      }

  }
  favoriteButton();
  function isLoggedIn(){
      if("{{loggedin}}" == "False" ) {
        document.getElementById("reviewTitle").hidden = true;
        document.getElementById("addreview").hidden = true;
      }
      if("{{loggedin}}" == "True" ) {
        document.getElementById("reviewTitle").hidden = false;
        document.getElementById("addreview").hidden = false;
      }
  }
  isLoggedIn();


</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGum5waTdk-9CADxl2qUegf1d4kzm146U&callback=initMap">
</script>


{% include 'footer.html' %}
{% endblock %}