<!DOCTYPE html>
<html>
    <table>
        <tbody>
            <h1 class="results"> Restaurant Search Results</h1>
            {% if restaurantinfo | length == 0: %}
            {% else %}
                {% for restaurant in restaurantinfo: %}
                  <div class="list-group" style="width:1050px; height:115px; margin: auto;">
                      <a href="resdetails?id="+{{restaurant.get_restaurantid()}} class_="list-group-item list-group-item-action "/>
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><strong>{{restaurant.get_name()}}</strong></h5>
                            <!--add stars here ; need to grab from database-->
                            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                            <div>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                          </div>
                            <style>
                              .checked {
                                color: #FFD700;
                              }
                              </style>
                          </div>
                          <p class="mb-1">{{restaurant.get_address()}}</p>
                          <span class="badge badge-info badge-pill i"></span>
                          <span class="badge badge-info badge-pill ii">{{restaurant.get_cuisine()}}</span>
                          <span class="badge badge-info badge-pill iii">{{restaurant.get_price()}}</span>
                          <span class="badge badge-info badge-pill iv">{{restaurant.get_type()}}</span>
                      </a>
                  </div>


<!--Function to get whether restaurant is open or closed-->
                <script>
                  'use strict';


                  function statusFunc() {
                    let status = "{{ restaurant.get_openclose() }}";
                    console.log(status);
                    let node = document.getElementsByClassName("badge");
                    let length = node.length;
                    let i = node.length - 4;
                    if (status == "True"){
                      node[i].innerHTML = "Open";
                    }
                    else {
                      node[i].innerHTML = "Closed";
                    }
                  }

                  statusFunc();

                </script>

                {% endfor %}
            {% endif %}

        </tbody>
    </table>


</html>
