<!DOCTYPE html>
<html>
{% extends "base.html" %}
  <body>
    {% block title %} Best Restaurants in Trenton | Trenton local eats {% endblock %}
    {% block content %}
    <!--title-->
    <h1 class="explore fade-in-text1 d-none d-sm-block">Explore</h1>
    <h2 class="restOfHeader fade-in-text2 d-none d-sm-block">food, <span class="trenton">Trenton</span> style.</h2>
    <h2 class="restOfHeader fade-in-text2 d-sm-none">Food, <span class="trenton">Trenton</span> style.</h2>

    <!-- <div class="position-relative fade-in-text2 container-fluid">
        <div class="circle1 rounded-circle position-absolute"></div>
        <div class="circle2 rounded-circle position-absolute"></div>
        <img src="" alt="Food">
        <div class="circle3 rounded-circle position-absolute"></div>
        <div class="circle4 rounded-circle position-absolute"></div>
        <hr class="line1" style="width:18%">
        <hr class="line2" style="width:15%">
        <hr class="line3" style="width:12%">
    </div> -->
    <div class="row pt-0 px-3 justify-content-center">
        <input class="rest_search" type="text" id="restaurantInput" placeholder="Enter a restaurant name here!">

    </div>
    <a class = "row pt-0 px-3 justify-content-center" id="surpriseme" href="resdetails?id={{randomrestaurant - 1}}"> Surprise Me! </a>
    <br>
    <strong>{{error_msg}}</strong>
    <br>
    <!--add design elements (circle, lines)-->
    <div id="turq_circle"><p></p></div>

    <!--advanced search-->
    <div class="begin_adv_search">Don't have a specific restaurant in mind?</div>
    <div class="wrap-collabsible">
        <input id="collapsible" class="toggle" href="#" type="checkbox">
        <label for="collapsible" class="lbl-toggle">Try Advanced Search Filters</label>
        <div class="collapsible-content">
          <div class="content-inner">
            <!--cuisine dropdown -->
            <div id="cuisine_select"> Select a Cuisine: </div>
            <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
            <script> $('select').selectpicker(); </script> -->
            <select id= "cuisineSelect" class="selectpicker" multiple data-live-search="true">
                <option>BBQ</option>
                <option>Jamaican</option>
                <option>Grill</option>
                <option>Soul</option>
                <option>Eastern European</option>
                <option>Dine-in</option>
                <option>Bar & Grill</option>
                <option>Dominican</option>
                <option>Italian</option>
                <option>English</option>
                <option>Tacos</option>
                <option>Mexican</option>
                <option>Spanish</option>
                <option>Indian</option>
                <option>American</option>


              </select>
            <!--fix how spacing is done-->
            <br>
            <br>
            <!--price radio buttons-->
            <div id="price_select"> Select Price Range(s): </div>
            <div class="container">
            <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="$" value=""> $
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="$$" value=""> $$
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="$$$" value=""> $$$
                </label>
              </div>
            </div>
            <br>
            <!--dining type-->
            <div id="dining_select"> Select Dining Type: </div>
            <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id= "any" name="optradio">Any!
                </label>
              </div>
              <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="casual" name="optradio">Casual
                </label>
              </div>
              <div class="form-check-inline disabled">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="fastfood" name="optradio">Fast Food
                </label>
              </div>
              <div class="form-check-inline disabled">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="fine" name="optradio">Fine Dining
                </label>
              </div>
              <br>
              <br>
            <!--filter by open restaurants only-->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="openCheck">
              <label class="form-check-label">
                Show only open restaurants
              </label>
            </div>
            <br>
              <!--include submit button here-->
              <button type="submit" class="btn btn-primary" id = "advancedSubmit">Submit</button>
              <br>
              <br>
          </div>
        </div>
      </div>
    <!-- <div class = "adv_search_dropdown">
        <a class="accordion-toggle collapsed" data-toggle="collapse" href="#advsearchId" type="checkbox">
            Try advanced search filters
        </a>
    </div>
    <br>

    <div class="advanced_search_options" id="advsearchId" class="collapse">
       <div class="dropdown">
           cuisine dropdown
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose a Cuisine
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Any</a>
                <a class="dropdown-item" href="#">American</a>
                <a class="dropdown-item" href="#">French</a>
                <a class="dropdown-item" href="#">Indian</a>
                <a class="dropdown-item" href="#">Other</a>
            </div>
        </div>
        <br>
        price range-->
        <!--<span>Choose a Maximum Price: </span>
        <input type="range" value="50" min="1" max="200" oninput="this.nextElementSibling.value = this.value" id="price_input" <span>&#36;</span>
        <output>50</output>

        <form class="multi-range-field my-5 pb-5">
            <input id="multi20" class="multi-range" type="range" />
          </form>


       address
        <form>
            <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" id="location_input" placeholder="Enter an address (or zipcode?) here">
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="within5">
                    <label class="form-check-label" for="within5">Less than 5 milees</label>
                </div>
            </div>
        </form> -->
    </div>

    <!-- CDNs for font-awesome, bootstrap, JQuery -->
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <!--{% include 'searchresults.html' %} -->
    <div class="row">
      <div class="col-12 grayborder" id="restaurantsDiv">
      </div>
    </div>
    {% include 'footer.html' %}

    <script src=
     "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>

    <!-- CDNs for font-awesome, bootstrap, JQuery
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->


    <script>
      'use strict';
      function randomizeResult()
      {
        randomValue = getRandomInt({{restaurantcount}});
        newhref = "resdetails?id=" + randomValue;
        document.getElementById("surpriseme").href = newhref;
      }
      randomizeResult()
      
      function handleResponse(response)
       {
          $('#restaurantsDiv').html(response);
       }

      let request = null;

      function getResults()
       {
          console.log("Getting results");

          let restaurantInput = $('#restaurantInput').val();

          restaurantInput = encodeURIComponent(restaurantInput);

          let url = '/searchresults?restaurant=' + restaurantInput

          console.log(url);
          if (request != null)
             request.abort();

          request = $.ajax(
             {
                type: 'GET',
                url: url,
                success: handleResponse
             }
          );
       }

       function getAdvancedResults()
        {
           console.log("Getting advanced results");

           let restaurantInput = $('#restaurantInput').val();

           // Getting selected texts from cuisine texts
           var options = document.getElementById('cuisineSelect').selectedOptions;
           var cuisineVals = Array.from(options).map(({ text }) => text);
           for (let i= 0; i < cuisineVals.length; i++){
             cuisineVals[i] = '%' + cuisineVals[i] + '%'
           }
          console.log("Cuisine: " + cuisineVals);


           // Getting type VALUES
           var type = "";
           if($('#casual').prop('checked')){
             type = 'casual';
           }
           else if($('#fastfood').prop('checked')){
             type = 'fast food';
           }
           else if($('#fine').prop('checked')){
             type = 'fine dining';
           }
           else{
             console.log('Any');
           }
           console.log("Type: " + type);

          // Getting PRice Values
           var priceVal = ""
           if (document.getElementById('$').checked== true){
             priceVal += "Inexpensive $";
           }
           if (document.getElementById('$$').checked == true){
             if (priceVal == "") {
               priceVal += "Moderate $$";

             } else{
               priceVal += ", Moderate $$";
             }
           }
           if (document.getElementById('$$$').checked == true){
             if (priceVal == "") {
               priceVal += "Pricey $$$";
             }
             else {
               priceVal += ", Pricey $$$";
             }
           }

           console.log("Price: " + priceVal);



           restaurantInput = encodeURIComponent(restaurantInput);
           type = encodeURIComponent(type);
           priceVal = encodeURIComponent(priceVal);
           cuisineVals = encodeURIComponent(cuisineVals);
           console.log("Cuisine: " + cuisineVals);
           console.log("Price: " + priceVal);


           let url = '/searchresults?restaurant=' + restaurantInput
           url += '&price='+priceVal + '&cuisine=' + cuisineVals
           url += '&type=' + type

           console.log(url);
           if (request != null)
              request.abort();

           request = $.ajax(
              {
                 type: 'GET',
                 url: url,
                 success: handleResponse
              }
           );
        }


      function setup()
       {
         getResults();
          console.log("Changed the input buttons");
          $("#restaurantInput").on("input", getResults);
          $("#advancedSubmit").on("click", getAdvancedResults);
       }
      $('document').ready(setup);
    </script>
    {% endblock %}
  </body>
</html>
