<!DOCTYPE html>
<html>
    <table>
      <script>
        var index = 0;
      </script>
        <tbody>
            <h1 class="results"> Restaurant Search Results</h1>
            <div class="dropdown" style="text-align:center;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #88d5d5;">
                Sort Restaurants By:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" onclick="rating_sort()">Show Best Rated Restaurants First </button>
                <button class="dropdown-item" type="button" onclick="price_sort_LH()">Price (Low to High)</button>
                <button class="dropdown-item" type="button" onclick="price_sort_HL()">Price (High to Low)</button>
              </div>
            </div>
            <br>
            {% if restaurantinfo | length == 0: %}
            {% else %}
            <table class="table table-borderless" style="margin-top: 0px;" id = "rest_table">
            <tbody>
                {% for restaurant in restaurantinfo: %}
                <tr>
                  <td>
                  <div class="list-group" style="width:1050px; height:106px; margin: auto;">
                      <a href="resdetails?id={{restaurant.get_restaurantid()}}" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><strong>{{restaurant.get_name()}}</strong></h5>
                            <!--add stars here-->
                            <div class="Stars" style="--rating: {{restaurant.get_stars()}};" aria-label="Rating of this restaurant is {{restaurant.get_stars()}} out of 5."></div>
                          </div>
                          <p class="mb-1">{{restaurant.get_address()}}</p>
                          <span class="badge badge-info badge-pill i"></span>
                          <span class="badge badge-info badge-pill ii">{{restaurant.get_cuisine()}}</span>
                          <span class="badge badge-info badge-pill iii">{{restaurant.get_price()}}</span>
                          <span class="badge badge-info badge-pill iv">{{restaurant.get_type()}}</span>
                      </a>
                  </div>
                  </td>
                  <td style = "display: none;">{{restaurant.get_stars()}}</td>
                  <td style = "display: none;">{{restaurant.get_price()}}</td>
                  </tr>


                  <!--Function to get whether restaurant is open or closed-->
                  <script>
                    'use strict';
                    function statusFunc() {
                      let status = "{{restaurant.get_openclose()}}";
                      console.log(status);
                      let node = document.getElementsByClassName("badge badge-info badge-pill i");
                      if (status == "True"){
                        node[index].innerHTML = "Open";
                      }
                      else {
                          node[index].innerHTML = "Closed";
                      }
                      index++;
                    }
                    

                    statusFunc();

                  </script>

                  <!--Function to change colour depending on whether open or closed-->

                  <script>
                    'use strict';

                    $('.badge').each(function(){
                      if($(this).text() == 'Open'){
                        $(this).css({'background-color' : '#32CD32'})
                      }
                      if($(this).text() == 'Closed'){
                        $(this).css({'background-color' : '#D22B2B'})
                      }


                    });
                  </script>

                  <!--Sorting functions-->
                  <!--Ratings-->
                  <script>
                    'use strict';
                    function rating_sort() {
                      var table, rows, switching, i, x, y, shouldSwitch;
                      table = document.getElementById("rest_table");
                      switching = true;
                      while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                          shouldSwitch = false;
                          x = rows[i].getElementsByTagName("TD")[1];
                          y = rows[i + 1].getElementsByTagName("TD")[1];
                          if (parseFloat(y.innerText) > parseFloat(x.innerText)) {
                            shouldSwitch = true;
                            break;
                          }
                        }
                        if (shouldSwitch) {
                          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                          switching = true;
                        }
                      }
                    }

                  </script>
                  <!--Price Low to High-->
                  <!--CAUTION: NEED TO TALK TO JUSTICE!!! not sure if price right now is reepresented by an integer or if it's something like "inexpensive"-->
                  <script>
                    'use strict';
                    function price_sort_LH() {
                      var table, rows, switching, i, x, y, shouldSwitch;
                      table = document.getElementById("rest_table");
                      switching = true;
                      while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                          shouldSwitch = false;
                          x = rows[i].getElementsByTagName("TD")[2];
                          y = rows[i + 1].getElementsByTagName("TD")[2];
                          if (parseFloat(x.innerText) > parseFloat(y.innerText)) {
                            shouldSwitch = true;
                            break;
                          }
                        }
                        if (shouldSwitch) {
                          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                          switching = true;
                        }
                      }
                    }
                  </script>
                  <!--Price High to Low-->
                  <script>
                    'use strict';
                    function price_sort_HL() {
                      var table, rows, switching, i, x, y, shouldSwitch;
                      table = document.getElementById("rest_table");
                      switching = true;
                      while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 1; i < (rows.length - 1); i++) {
                          shouldSwitch = false;
                          x = rows[i].getElementsByTagName("TD")[2];
                          y = rows[i + 1].getElementsByTagName("TD")[2];
                          if (parseFloat(y.innerText) > parseFloat(x.innerText)) {
                            shouldSwitch = true;
                            break;
                          }
                        }
                        if (shouldSwitch) {
                          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                          switching = true;
                        }
                      }
                    }
                    </script>
                {% endfor %}
              </tbody>
            </table>
                
            {% endif %}
            

        </tbody>
    </table>
</html>
