<!DOCTYPE html>
<html>
    <head>
        <title>Penny.com</title>
    </head>
    <table>
        <tbody>
            <h1>Restaurant Search Results</h1>
            <tr>
              <td style="text-align: center"> <strong>Name</strong></td>
              <td>        </td>
              <td tyle="text-align: center"> <strong> Open? </strong> </td>
            </tr>
            {% if restaurantinfo | length == 0: %}
            {% else %}
                {% for restaurant in restaurantinfo: %}
                    <tr>
                        <td>{{restaurant.get_name()}}</td>
                        <td>                            </td>
                        <td>{{restaurant.get_openclose()}}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</html>
