{% extends "base.html" %}
{% block title %} Unable to Add Restaurant Info {% endblock %}
{% block content %}
<div class="container-fluid px-5" id="UnauthorizedCont">
  <div class="row">
    <div class="container-fluid pb-5 px-5" id="UnauthorizedContChild">
      {% if id is none %}
      <h3 class="aboutHeader1">Users must be logged in order to access this page!</h3>
      <h3 class="aboutHeader1">Please login and try again.</h3>
    </div>
  </div>
</div>
{% else %}
<h3 class="aboutHeader1">Sorry, but you are not authorized to add Restaurant Information.</h3>
<h2 class="aboutHeader1"><span>If you wold like to add your restaurant, please contact us below!</span></h2>


<div class="col-sm-4">
  <div class="container-fluid bg-light p-5 rounded">
    <div class="row">
      <h3 class="aboutHeader1">CONTACT US</h3>
    </div>
    <div class="row">
      <ul class="list-group list-group-flush">
        <li>Stephen Dong: sd20@princeton.edu</li>
        <li>Justice Chukwuma: chukwuma@princeton.edu</li>
        <li>Soumya Gottipati: soumyag@princeton.edu</li>
        <li>Piers Ozuah: pjozuah@princeton.edu</li>
        <li>Kenny Okoroafor: kao3@princeton.edu</li>
      </ul>

    </div>

  </div>
</div>
</div>
</div>
{% endif %}

{% include 'footer.html' %}




<!--{% include 'footer.html' %}-->
{% endblock %}
