*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif !important;

}
.navbar
{
    font-weight: bold;
    font-family: "Gill Sans", "Varela Round", sans-serif;
}

.navbar a
{
    color: white !important;
}
.navbar-toggler-icon.icon-bar
{
    font-size: 25px !important;
}
h1.explore
{
    padding-top: 0.2em;
    color: #FFD700;
    font-size: 9rem;
    font-weight: bold;
    font-family: "Playfair Display", "Georgia", serif;
    text-align: center;
}
h2.restOfHeader
{
    font-size: 3rem;
    font-family: "Courier", "Baskerville", monospace;
    text-align: center;
}
h2.restOfHeader span {
    color: #B22222;
    font-size: 6rem;
    font-weight: bold;
    font-family: "Bradley Hand", "Gill Sans", sans-serif;
    text-align: center;
}
form {
    text-align: center;
}
.rest_search {
    width: 600px;
    height: 40px;
}
.submit {
    color: #B22222;
    height: 40px;
}
.turq_circle {
    background: #008080;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
}
